body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.url {
  background-image: url("./hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.url > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 50px;
  background-color: rgba(96, 97, 98, 0.495);
  border-radius: 15px;
}
.short-url {
  margin-top: 20px;
}
.short-url p {
  height: 40px;
  width: 100%;
  background-color: #ffff;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 6px;
}
.url-button button {
  width: 100%;
  background-color: rgb(213, 152, 71);
  border: none;
}
.url-button button:hover {
  background-color: rgb(213, 152, 71);
}

@media screen and (max-width: 992px) {
  .url > div {
    width: 100% !important;
  }
}
